## Q3 Summative Challenge

This project will count as a major assessment.  Read each task carefully and type your code into the code cells provided.  Make sure to complete the tasks exactly as described.  Use the provided variable names and values that are specified.

**Note: Once this challenge begins, do not navigate away from this screen.  Moreover, do not use the Anaconda Assistant during this project.  You are to have this challenge and only this challenge open for the entirety.**

1. Create a variable called "first_name" and assign it the value equal to your name as a string.

In [3]:
# Write your code here
first_name = "Sachin"

2. Create a variable called "age" and assign it the value equal to your age as an integer.

In [5]:
# Write your code here
age = 17

3. Create a formatted string called "out_string" with the following structure:

   "My name is ________ and I am __ years old."

Replace the _________ with your name and age respectively using the variables you created in steps 1 and 2.

In [9]:
# Write your code here
print(f"My name is {first_name} and I am {age} years old.")

My name is Sachin and I am 17 years old.

4. Use any method to import the math module.

In [13]:
# Write your code here
import math

5. Print the type of pi, using math to access the value of pi.

In [17]:
# Write your code here
print(type(math.pi))

<class 'float'>

6. define a function called "func1" that has no parameters and prints out the formatted string you created in #3 above.

In [19]:
# Write your code here
def func1 ():
    print(f"My name is {first_name} and I am {age} years old.")

func1()

My name is Sachin and I am 17 years old.

7. Create an if/else block that will print the message "I am old enough to drive" if your age is greater than or equal to 16 otherwise it prints "I am not old enough to drive".  Make sure to use the age variable you created above.

In [23]:
# Enter your code here
if age >= 16:
    print("I am old enough to drive")
else:
    print("I am not old enough to drive")

I am old enough to drive

8. Create a list called "evens" that consists of the even integers from 2 to 8 inclusive.

In [59]:
# Enter your code here
evens = [2, 4, 6, 8]

9. Create an empty list called "odds"

In [61]:
# Enter your code here
odds = []

10. Loop through the list "evens" using a for loop.  Use your loop to populate the list "odds" by adding each element of "evens" + 1 to the "odds" list.

In [63]:
# Enter your code here
for num in evens:
    odds.append(num+1)

print(odds)

[3, 5, 7, 9]

11. Define a function called "is_even" and takes a single parameter which is an integer.  The function will determine if the integer is even or odd and return either True or False respectively.

In [ ]:
# Enter your code here
def is_even (int):
    return int%2 == 0

12. Use the code from #7 above but change it so that it will print "I can get my permit" in the event that your age is 15.  Otherwise, it will function in the same way as before.

In [65]:
# Enter your code here
if age == 15:
    print("I can get my permit")
if age >= 16:
    print("I am old enough to drive")
else:
    print("I am not old enough to drive")

I am old enough to drive

13. Use indexing of the list "evens" to print out the product of the first and last elements of the list.

In [67]:
# Enter your code here
product = evens[0] + evens[-1]
print(product)

10

14. Write an expression that gets input from the user from the user.  The result will be saved in the variable "answer".  The prompt for your input function will be "Enter a number between 1 and 100".

In [69]:
# Enter your code here
answer = int(input("Enter a number between 1 and 100:"))

Enter a number between 1 and 100 77

15. Take a look at the code inside of the docstring below.  Replace the _______ with a keyword that would prevent this code from entering an endless loop.  Leave the code inside of the docstring - you do not need to run this code.

In [83]:
'''

while True:
    pwd = input("Enter the password")
    if pwd == "python24":
        return ("Correct")
    else:
        print("Incorrect, try again!")

'''

'\n\nwhile True:\n    pwd = input("Enter the password")\n    if pwd == "python24":\n        return ("Correct")\n    else:\n        print("Incorrect, try again!")\n\n'

16. Correct the errors in the code below.

In [89]:
for n in range(1,11):
    print(n * 5)

5
10
15
20
25
30
35
40
45
50

17.  Create a variable called "x" that is equal to a floating point value.

In [91]:
# Enter your code here
x = 6.234

18. Replace the ______ with the correct keyword/operator in the code below.  Also, fix any errors that prevent the code from running. The code should print "Hello World!" and the value of n 10 times.

In [97]:
n = 0

while n < 10:
    print(f"Hello World!, {n}")
    n += 1

Hello World!, 0
Hello World!, 1
Hello World!, 2
Hello World!, 3
Hello World!, 4
Hello World!, 5
Hello World!, 6
Hello World!, 7
Hello World!, 8
Hello World!, 9

19.Replace the _____ with correct keywords/expressions. Replace the ? with the correct index. Also, fix any errors to get this code block running.

In [105]:
answer = input("Enter a city")
city = "Raleigh"

if answer == city:
    print("I live there!")
elif answer.startswith(city[0]):
    print("You are close")
else:
    print("Not even close")

Enter a city Raleigh

I live there!

20.  Change the operator in the range function so that this loop prints 5 times without error.  do not change the numbers, only the operator.

In [111]:
for n in range(16//3):
    print(n)

0
1
2
3
4