# Unit 3 Coding Project
  
- Basic Data Types
- Variables
- Operators
- Comments and Docstrings

-----

### Student will be able to
- Use Python 3 to create Interactive Python Notebooks in Jupyter or VS Code
- Create/Identify object types
- Assign variables
- Use Operators
- Use Comments and Docstrings in Code

# Task 1

In the code cell below, create 3 different variables named 'first_name', 'age', and 'gpa' and assign values to them using the following data types:

- 'first_name' should be a string
- 'age' should be an integer
- 'gpa' should be a float

Make sure to execute the code cell so those variables are saved and the objects created.

In [11]:
# Enter Your Code Below
first_name = "Sachin"
age = 16
gpa = 4.5

# Task 2

### Using the type() function

Python has a built-in function that will tell you the type of an object called type().  Inside the parenthesis, you can enter a literal object or the name of a variable and type() will tell you what class the object belongs to (i.e., its type).  Use the type() function inside of a print() function to see what the type() function returns.  Here is an example:

`print(type('Python'))`

`Output:`<br>
`<class 'str'>`

In the code cell below, write three different print() statements to print out the type() of each of the 3 variables you created above.  Your output should be:

`Output:`<br>
`<class 'str'>`<br>
`<class 'int'>`<br>
`<class 'float'>`<br>

In [13]:
# Enter Your Code Below
print(type(first_name))
print(type(age))
print(type(gpa))

<class 'str'>
<class 'int'>
<class 'float'>

# Task 3

In the code cell below, create a new variable called 'married' and set its value to either True or False.  Then print the type of this variable.

What do you think is the type of 'married'?

In [15]:
# Enter Your Code Below
married = False
print(type(married))

<class 'bool'>

# Task 4

### Operators

In the code cell below, write a print statement for each of the following arithmetic operators:

`+` --> Addition<br>
`-` --> Subtraction<br>
`*` --> Multiplication<br>
`/` --> Division<br>
`**` --> Exponentiation<br>
`%` --> Modulo<br>
`//` --> Integer Division<br>

Here is an example using the modulo operator:

`print(17 % 7)`

`Output:`<br>
`3`

In [19]:
# Enter Your Code Here (1 for each of the 7 operators listed above)
print(4 + 3)
print(18 - 2)
print(4 * 9)
print(54 / 4)
print(2 ** 4)
print(89 % 4)
print(42 // 5)

7
16
36
13.5
16
1
8

# Task 5

### String Addition or Concatenation

In the code cell below

- create a new variale called 'last_name' and set it equal to a last name as a string
- create another variable called 'full_name'
- assign it the value of adding 'first_name' and 'last_name'
- print the value of 'full_name'
- print the type of 'full_name'

In [27]:
# Enter Your Code Below
last_name = "Lalka"
full_name = first_name+ last_name
print(full_name)
print(type(full_name))

SachinLalka
<class 'str'>

# Task 6

Improve the 'full_name' variable by adding a space between 'first_name' and 'last_name'.  Do this by reassigning the value of 'full_name'.  Print 'full_name' again.

In [31]:
# Enter Your Code Here
full_name = first_name + " " + last_name
print(full_name)

Sachin Lalka

# Task 7

### Sequence

In the code cells below, add or rearrange parenthesis to the equations to achieve the desired outputs.

In [33]:
# Add parenthesis to get the result equal to 15


result = 5 * (5 - 2)
print(result)

15

In [43]:
# Add parenthesis to get the result equal to 125.0

result = (5 ** 5) / (55 - 30)
print(result)

125.0

In [47]:
# Rearrange the parenthesis to get the result equal to 30

result = (9 + 3) * 3 - 6
print(result)

30

# Task 8

### Multi-Line Docstring

In the code cell below, create a multi-line docstring.  In it, write a few sentences about your favorite thing you did this summer.

In [45]:
'''
I went to Hawaii this summer
I did not have to wake up early
I got to go to summer camp for a week
'''

'\nI went to Hawaii this summer\nI did not have to wake up early\nI got to go to summer camp for a week\n'

# Task 9

### Casting

Recall that there are several ways in Python to change the data type of an object - what is known as casting.  There are built-in functions (int(), str(), float()) as well as arithmetic tricks to do this.  Here are examples:

To cast the integer 7 to a string:<br>
`str(7)`

To cast the string digit 7 to an integer:<br>
`int('7')`

To cast the string digit 7 to a float:<br>
`float('7')`

To cast the integer 7 to a float:<br>
`float(7)`

or

`7 * 1.0`

or

`7 / 1`

In the code cell below, enter code to cast the variables as follows:

cast 'score' to an integer<br>
cast 'rating' to a float using a function<br>
cast 'temp' to a float arithmetically<br>
cast 'count' to a string

In [49]:
# Existing variables (don't change)

score = '76'
rating = 93
temp = 86
count = 17

print('Original types:', type(score), type(rating), type(temp), type(count))

# Enter Your Code Here
score = int(score)
rating = float(rating)
temp = temp/1
count = str(count)

# This code prints the types of the variables again, they should be different
print('New types     :', type(score), type(rating), type(temp), type(count))

Original types: <class 'str'> <class 'int'> <class 'int'> <class 'int'>
New types     : <class 'int'> <class 'float'> <class 'float'> <class 'str'>

# Task 10

### Comparison and Logical Operators

In the code cell below are a number of expressions.  Your task is to alter the operators (==, !=, >, <=, >, >=, and, or, not) such that all expressions evaluate to True.  You can only change operators NOT OPERANDS!  Here is an example:

Original expression:<br>
`print(5 > 3 and 6 > 9)`

`Output:`<br>
`False`

Corrected expression (version 1):<br>
`print(5 > 3 and 6 < 9)`

`Output:`<br>
`True`

Corrected expression (version 2):<br>
`print(5 > 3 or 6 < 9)`

`Output:`<br>
`True`

In [57]:
# Alter the operators to achieve a result of True in each case

print(5 > 3)
print('test' == 'test')
print(6 != 7)
print(5==5 and 4>=3.9)
print(True or False)
print(7 > 6 and not 6 > 7)
print(5 in {1,2,3,4,5})

True
True
True
True
True
True
True

When you have finished each of the 10 tasks, make sure to save your file.  You will submit this assignment by using the green "Share" button at the top of this page.  Copy the notebook link and submit that link back into the Canvas assignment page.  If you have any problems or questions submitting this, please let me know so I can help you.