# Section 1: Using Python Modules
* import, import as, from "" import
* math: sqrt, //, %, \**
* order of operations
* ceil, floor
* random: random.randint(a, b), randrange(start, stop[,step])
* random: random.choice(seq), random.shuffle(x[,random])

### Students will be able to:
* Import different Python modules
* Compute mathematical expressions using functions from the math module
* Recognize the effect of operator precedence
* Round real numbers to the nearest integer
* Generate (pseudo-)random integers
* Select a random element from a list
* Shuffle the elements of a list

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Modules</B></font>  


## Importing Modules
[View video](https://youtu.be/pTFF7frBFm4)

When writing code, you do not have to create everything from scratch. As a matter of fact, you are encouraged to use previously developed functions written by other programmers. Such code is usually distributed as a library of functions and other facilities. Libraries are further organized into `modules` that contain related code. 

A module is basically a file that contains functions, variable, and classes. To use a function from a module, you need to import that module to your code. There are several ways to import a module; the following examples show you how to import and use the power function `pow` to compute 2<sup>3</sup>, and 5<sup>2</sup>.

### Importing the whole library
```python
# import the whole math library
import math

# compute 2 to the power 3
math.pow(2, 3)

# compute 5 to the power 2
math.pow(5, 2)
```

### Importing the whole library and renaming it
```python
# import the whole math library and rename it ml
import math as ml

# compute 2 to the power 3
ml.pow(2, 3)

# compute 5 to the power 2
ml.pow(5, 2)
```

### Importing only the `pow` function
In this case, there is no need to refer to the `math` module when using `pow`.

```python
# import the `pow` function
from math import pow

# compute 2 to the power 3
pow(2, 3)

# compute 5 to the power 2
pow(5, 2)
```

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

### Importing the `fabs` Function
The following examples show you how to import and use the 'fabs' function, which calculates the absolute value of a number.
* |-5| = 5
* |12| = 12

In [1]:
import math
x = -5
math.fabs(x)

5.0

In [ ]:
import math as ml
y = 12
ml.fabs(y)

In [ ]:
from math import fabs
fabs(-5)

---
<font size="6" color="#B24C00" face="verdana"><B>Task 1</B></font>

## Importing Modules

### Using Documentation to Find a Function
The `math` module contains many useful functions. Skim through the Python Documentation Site's math page at https://docs.python.org/3/library/math.html and find an appropriate function that can compute the greatest common divisor of two numbers.

In [1]:
# [ ] Import the math module and find the greatest common divisor of 16 and 28
# [ ] print the result
import math
math.gcd(16, 28)

4

In [5]:
# [ ] Prompt the user to input 2 positive integers then print their greatest common divisor
num1 = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))
math.gcd(num1, num2)

Enter a number:  4
Enter another number:  12

4

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  

## Using `math` Functions
[View video](https://youtu.be/2gx4K2M0HMc)

The Python Documentation Site's page on [math](https://docs.python.org/3.6/library/math.html) module contains a lot of mathematically useful functions and constants. For example, it contains trigonometric functions such as `cos` and `sin`, and other functions such as `sqrt`.

### Square root

The `sqrt` function computes the square root of a number. The following examples show how to compute:
* $\sqrt{5}$
* $\sqrt{30}$

```python
from math import sqrt

#compute the square root of 5
sqrt(5)

#compute the square root of 30
sqrt(30)
```

---
<font size="6" color="#00A0B2" face="verdana"><B>Examples</B></font>

### Pythagorean theorem

We can use the Pythagorean theorem (see the Wikipedia Site page on the [Pythagorean theorem](https://en.wikipedia.org/wiki/Pythagorean_theorem)) to compute the hypotenuse length of a right triangle as follows:

$h^2 = (a^2 + b^2)$

$h = \sqrt{a^2 + b^2}$

In Python, we can compute `h` using the sqrt function as follows:

In [3]:
from math import sqrt
a = 3
b = 4
h = sqrt(a ** 2 + b ** 2)
print(h)

5.0

We could have also just used the `hypot` function from the math module like this:

In [2]:
from math import hypot
print(hypot(3, 4))

5.0

### Even or Odd?

To test if a number is even or odd, we usually divide it by 2 and check the remainder. If the remainder is 0, the number is even; otherwise, the number is odd. We can use the modulo operator to test for the remainder as follows:

In [ ]:
# Even number (print 0)
print(102 % 2)

# Odd Number (print 1)
print(77 % 2)

---
<font size="6" color="#B24C00"  face="verdana"> <B>Task 2</B></font>

## Using `math` Functions

In [7]:
# [ ] Fill out the function is_even with a code block that returns True if n is even and returns False if n is odd

def is_even(n):
    if n % 2 == 0:
        return True
    else:
        return False

# Test the function 
x = 50
if is_even(x):
    print("Number is even")
else:
    print("Number is odd")

Number is even

In [45]:
# [ ] Use the function is_even to print the square root of all the even numbers in the following list
def is_even(n):
    if n % 2 == 0:
        return True
    else:
        return False
    
from math import sqrt
lis = [25, 34, 193, 2, 81, 26, 44]
for i in range (7):
    if is_even(lis[i]):
        print(sqrt(lis[i]))

5.830951894845301
1.4142135623730951
5.0990195135927845
6.6332495807108

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  


## Rounding Numbers
[View video](https://youtu.be/x5s8mUqNLsE)

In some cases, you need to round a real number into an integer. For example, 31.8 can be rounded up to the next integer (32), and it can also be rounded down (to 31).

#### Ceiling
A real number can be rounded up in Python using the `ceil` function from the `math` module. The function takes a real number `x` and returns the smallest integer value greater than or equal to `x`.

```python
# importing the math library
import math

# round up
x = math.ceil(31.8)
print(x) #will print 32
```  

#### Truncate
The function `trunc` from the `math` module can round a real number into an integer by ignoring (truncating) the fraction part.

```python
# importing the math library
import math
x = math.trunc(31.8)
print(x) #will print 31
```

#### Floor
A real number can be rounded down in Python using the `floor` function from the `math` module. The function takes a real number `x` and returns the largest integer value less than or equal to `x`.

```python
# importing the math library
import math

# round down
x = math.floor(31.8)
print(x) #will print 31
```

---
<font size="6" color="#00A0B2" face="verdana"><B>Examples</B></font>

You and a friend participated in a programming contest. Your hard work paid off, and your team won a prize of \$213, which you decide to split evenly. Unfortunately, you were given the prize in \$1 bills and neither of you has any coins. How should you split the prize?

An equal division of the prize is <sup>213</sup>/<sub>2</sub> = 106.5; however, you cannot get \$0.5 without destroying one of the \$1 bills, so you decide to use Python to round:

In [48]:
from math import floor, ceil, trunc

prize = 213

option1 = floor(213 / 2)
print("You get", option1, " and your friend gets ", prize - option1)

You get 106  and your friend gets  107

In [50]:
from math import floor, ceil, trunc

prize = 213

option2 = ceil(213 / 2)
print("You get", option2, " and your friend gets ", prize - option2)

You get 107  and your friend gets  106

---
<font size="6" color="#B24C00"  face="verdana"> <B>Task 3</B></font>

## Rounding Numbers

In [52]:
# [ ] Use an appropriate rounding function to round 75.34 to 75 and then to 76

import math

x = 75.34

print(floor(x))

75

### `float` error rounding
Representing `float` numbers in a computer is prone to rounding errors. In this task you should use one of the rounding functions to fix the error.

In [56]:
# [ ] Use an appropriate rounding function to fix the following `float` error

# Price of a chocolate box
p = 4.35

# Quantity needed
q = 200

# Order total price (Should be 4.35 * 200 = $870.00)
total = p * q

print("Total price: ", total)

# --Completed--
import math

# Price of a chocolate box
p = 4.35

# Quantity needed
q = 200

# Total price (Should be 4.35 * 200 = $870.00)
# use rounding method here
total =p * q

print("Total price: ", ceil(total))

Total price:  869.9999999999999
Total price:  870

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  


## Generating Random Integers
[View video](https://youtu.be/1gpxW4J2820)

If you are programming a Sudoku game that generates the same pattern every time you start it, chances are you will not play it many times. Introducing some randomness would make the game much more interesting. Python has several random number generator functions in the `random` module. You need only to import the module and use an appropriate function that suits your application.

#### Random integer between a and b
The function `randint(a, b)` generates a random number n, where a &leq; n &leq; b

The following generates a number between 1 and 10:

In [ ]:
from random import randint
print(randint(1, 10))

#### Random integer from a range
The randrange(start, stop[, step]) function generates a random number from a range of integers between start (included) and stop (excluded) with an optional step. The following generates a number between 1 and 10:

In [ ]:
from random import randrange
print(randrange(1, 11))

In this case start = 1 and stop = 11 and we didn't specify the step value, which is 1 by default.

If step were specified as a value other than 1, such as 2, then `randrange(1, 11, 2)` would generate a number from the following range [1, 3, 5, 7, 9]. In other words, the randrange randomly selects a value from the range of integer numbers between 1 (included) and 11 (excluded) where the elements are separated by 2.

In [ ]:
from random import randrange
print(randrange(1, 11, 2))

---
<font size="6" color="#00A0B2" face="verdana"><B>Examples</B></font>

### Die roller
If you are designing a game, it will be useful to have a function that can roll a die for you. The following shows a function that generates a single die roll:

In [ ]:
from random import randint

def die_roller ():
    return (randint(1, 6))


# roll a die
print(die_roller())

### Odd random integers
The following example shows you how to generate a random odd integer n, such that 1 &leq; n < 102:

In [ ]:
from random import randrange

def odd_random():
    return (randrange(1, 102, 2))

# Generate an odd random integer
print(odd_random())

---
<font size="6" color="#B24C00" face="verdana"><B>Task 4</B></font>

## Generating Random Integers

In [58]:
# [ ] Modify the die_roller() function to use randrange instead of randint

from random import randint

def die_roller():
    return(randrange(1, 7))

In [60]:
# [ ] Modify the odd_random() function to use randint instead of randrange

def odd_random():
    return(randint(1, 102) * 2 - 1

In [139]:
# [ ] Complete the function dice_roller() so it rolls 2 dice
# Use the die_roller function

from random import randint

def die_roller():
    return(randint(1, 6))

def dice_roller():
    return die_roller()

print(die_roller())
print(dice_roller())

5
2

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  


## Random Sequences
[View video](https://youtu.be/Atpp3A0pceI)

### Selecting an element from a list
In certain cases, you want to select an element from a range of non-integers or even a list of non-numeric elements. In such cases `randint` and `randrange` will not work; however, the `random` module comes with a `choice` function that returns a randomly chosen element from a list passed as an argument. For example, if you are designing a "Rock, Paper, Scissors" game, and you want the computer to choose one of the `string` options randomly, you need to use the `choice` function.

In [ ]:
from random import choice

# Select Rock, Paper, or Scissors
def RPS():
    options = ['Rock', 'Paper', 'Scissors']
    # return one of the elements at random
    return (choice(options))

# Generate an option
print(RPS());

### Shuffling the elements of a list

Sometimes you do not want to choose a random element from a list, but rather you want to shuffle the content of a list. Say you want to rearrange a list of names to a random order. The function `shuffle` shuffles the elements of list in place as illustrated below:

In [8]:
from random import shuffle

x = ['Ana', 'John', 'Mike', 'Sally']

shuffle(x)

print(x)

['Ana', 'Mike', 'John', 'Sally']

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

### Picking a random playing card

Say you want to design a card game, and you want a function to pick one of the 52 cards at random. The `choice` function is a good fit.

In [14]:
from random import choice

def pick_card():
    card_type = ['Clubs', 'Diamonds', 'Hearts', 'Spades']
    card_number = ['Ace', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Jack', 'Queen', 'King']
    
    # choose a type at random
    t = choice(card_type)
    n = choice(card_number)
    
    return [n, t]

# Show the randomly picked card
print(pick_card())

[10, 'Diamonds']

---
<font size="6" color="#B24C00"  face="verdana"> <B>Task 5</B></font>

## Random Sequences

In [68]:
# A 52-card deck

deck = ['A♠', '2♠', '3♠', '4♠', '5♠', '6♠', '7♠', '8♠', '9♠', '10♠', 'J♠', 'Q♠', 'K♠',
        'A♡', '2♡', '3♡', '4♡', '5♡', '6♡', '7♡', '8♡', '9♡', '10♡', 'J♡', 'Q♡', 'K♡',
        'A♢', '2♢', '3♢', '4♢', '5♢', '6♢', '7♢', '8♢', '9♢', '10♢', 'J♢', 'Q♢', 'K♢',
        'A♣', '2♣', '3♣', '4♣', '5♣', '6♣', '7♣', '8♣', '9♣', '10♣', 'J♣', 'Q♣', 'K♣']

# Three empty hands

hand1 = []
hand2 = []
hand3 = []

In [70]:
# [ ] Import the choice function from the random module
# [ ] Use the choice function in a for loop to populate "hand1"
from random import choice

for i in range (5):
    hand1.append(choice(deck))
    
print(hand1)
# Consider this method, is there a problem doing it this way?

# use the shuffle method to shuffle the list "deck"

['A♠', 'K♢', '5♡', 'Q♠', 'Q♠']

In [72]:
# [ ] Import the shuffle method from the random module
# [ ] Shuffle the deck and then deal 5 cards off the top and place in "hand2"
# [ ] You can use a loop or just slice the last 5 cards from the deck
from random import shuffle

random.shuffle(deck)
for i in range (5):
    hand2.append(deck[i])
    
print(hand2)


# Consider this method, is it better than using choice in a loop?

['5♡', '3♠', '6♠', '2♠', '9♣']

In [78]:
# [ ] Import the sample method from the random module
# [ ] Use it to deal 5 cards and place them in "hand3"
from random import sample

hand3 = (sample(deck, 5))

print(hand3)
# Consider this method, is it better than the other two?

['Q♣', 'K♡', '5♠', 'A♢', '7♢']

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Section 2</B></font>  


## Working with Dates and Times in Python

Certain applications require knowing the current date and/or time. For example, certain websites display a countdown timer to a launch date or an important event. There are several Python modules dedicated to dealing with date and time.  In this course, we will cover two related entities - the time module and the datetime module.

<u>The `time` Module</u>

The `time` module in Python provides functions for working with time-related operations, including measuring time intervals, getting the current time, and pausing program execution. It offers functionalities like `time()`, which returns the current time in seconds since the epoch, and `sleep()`, which suspends program execution for a specified duration. The module is useful for basic timing tasks, creating delays, and implementing simple timing-related functionalities in Python programs.

<u>The `datetime` Module</u>

`datetime` module contains a number of useful datatypes (classes) and functions (methods) to define and manipulate time and date variables. In this lesson, we will first explore ways to create variables that contain time and date information; we will then delve into ways to display the content of these variables in a human-readable way. In the next lesson, we will use these time/date variables to build some useful applications.

The term `time` can be a little bit confusing because the `datetime` module has a class of objects of type "time" and the name of the `time` module is also "time".  These are actually two entirely different things with the same name.  This is a perfect example of how names can be in conflict if we don't import items properly.  Look at the example below, both the time and datetime modules have an item named time().  They both have a function with the same name, but they do different things!

In [192]:
import time as t
import datetime as dt

print("time() from time module", t.time(),"\ntime() from datetime module", dt.time())

time() from time module 1705066683.1417103
time() from datetime module 00:00:00

---
<font size="6" color="#00A0B2"  face="verdana"> <B>The `time` Module</B></font>

The `time` module contains useful functions for getting the current time, measuring time intervals and pausing program execution.  If you take a look at dir(time) you will see that it is a relative small module, but still very useful.  In this section, we will look at each of the three use cases mentioned above.

The first step is to import the module


```python
import time
```

We can assign the current time (exact system time at the point when the compiled code is executed) to a variable like this:

```python
current_time = time.time()
```

The `time` module treats time as the number of seconds that have elapsed since a predefined time known as the "epoch" - currently the epoch is set to midnight (UTC) on January 1, 1970.  So the value that the `time()` function returns is a number of seconds as a float type.

You can calculate the difference (in seconds) between two times by simply subtracting them like this:

```python
t1 = time.time()
t2 = time.time()
tc = t2 - t1
print(tc)
```

This is a useful feature to see how long your code, or parts of it, are taking to run.  It can also be useful if you need to display how much time has elapsed to the user.

You can pause your code using the `sleep()` function like this:

```python
time.sleep(3)
```

This code pauses execution for 3 seconds.

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [194]:
import time

t1 = time.time()

x = 51

for n in range(10000000):
    if x % 2 == 0:
        x /= 2
    else:
        x = x*3 + 1

t2 = time.time()
tc = round(t2 - t1, 2)
print(tc, "seconds")

1.93 seconds

In [154]:
import time

for n in range(1,4):
    time.sleep(1)
    print(f'{n} total seconds has elapsed', end = '...')

1 total seconds has elapsed...2 total seconds has elapsed...3 total seconds has elapsed...

---
<font size="6" color="#00A0B2"  face="verdana"> <B>The `datetime` Module</B></font>

The `datetime` module has several different classes of objects that you can work with.  We are going to focus on the following three classes:

- `time` objects
- `date` objects
- `datetime` objects

As the names suggest, the `time` and `date` classes deal with time and date respectively, but there is another more comprehensive class called the `datetime` class which can deal with both dates and times simultaneously.  Let's start with `time` objects:

## `time` Objects
[View video](https://youtu.be/szvqF2uGILg)

### `time(hour = 0, minute = 0, second = 0, microsecond = 0)`
### Assigning a `time` object
The `datetime` module contains a `time` datatype (class) that can be used to store and manipulate time information. When assigning a variable (object) of type `time` you can specify the hour, minute, second, and microsecond attributes. Any attribute that you leave unspecified will be set to its default value of 0. When specifying an attribute, you should make sure it is within its valid range:
* 0 &leq; hour < 24
* 0 &leq; minute < 60
* 0 &leq; second < 60
* 0 &leq; microsecond < 1000000

If any of the attributes is outside its valid range, you will get a `ValueError` message.

Note: 1 second is equal to 1 million microseconds or 1 s = 10<sup>6</sup> &mu;s

### Getting `time` object attributes (hour, minute... etc.)
You can access the attributes of any `time` variable by specifying its name. For example, if you have a `time` variable named `StartTime`, you can get the value of the minute attribute from `StartTime.minute`.

### Modifying `time` object attributes (hour, minute... etc.)
You can not only access the attributes of a `time` variable, you can also modify them. For example, if you want to modify the hour of `StartTime`, you can use an expression similar to `StartTime.replace(hour = 5)` to set the hour attribute to 5 regardless of its previous value. You can also modify multiple attributes simultaneously by specifying all values to be changed. For example, if you want to modify the hour and second of `StartTime`, you can use an expression similar to `StartTime.replace(hour = 5, second = 2)`.

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

### Assigning a `time` object by specifying all attributes (hour, minute, second, microsecond) in order
When assigning a new `time` object, you can specify all of its attributes by writing the numbers in the following order: hour, minute, second, microsecond.

In [143]:
from datetime import time

# Time is 8:55:20.000500 PM (or 20:55:20.000500)
t = time(20, 55, 20, 500)
print(t)

20:55:20.000500

### Assigning a `time` object by specifying all attributes (hour, minute, second, microsecond) by name
If you specify the attributes with keyword arguments , they need not be in order.

In [158]:
from datetime import time

# Time is 9:10:20.900000 AM (or 9:10:20.900000)
t = time(minute = 10, hour = 9, microsecond = 900000, second = 20)
print(t)

09:10:20.900000

### Assigning a `time` object by specifying some attributes
If an attribute is not specified, it will be set to 0.

In [160]:
from datetime import time

# Time is 1:10 PM (or 13:10:00:000000)
t = time(hour = 1, minute = 10)
print(t)

01:10:00

### Specifying a wrong attribute value
When an attribute is set to an invalid value, a `ValueError` will be raised. This will happen whether you are assigning or changing the value of an existing variable.

In [162]:
from datetime import time

# Assigning a time variable with an invalid attribute
t = time(hour = 29)
print(t)

ValueError: hour must be in 0..23

### Getting an attribute
You can access a single attribute or all attributes of a `time` variable separately.

In [164]:
from datetime import time

# assign a time variable t
t = time(hour = 9, minute = 10, second = 43, microsecond = 100)

# access each of the attributes separately
h = t.hour # will be 9
m = t.minute # will be 10 
s = t.second # will be 43
ms = t.microsecond # will be 100

print("The time is: ", h," hours ", m, " minutes", s, " seconds and ", ms, " microseconds" )

The time is:  9  hours  10  minutes 43  seconds and  100  microseconds

### Modifying attributes of an assigned `time` variable
You might think that an attribute can be changed by specifying it directly as `t.hour = 8`; however, this will result in an error message saying that the attribute is not writable. The solution is to use the `replace` function.

`replace` copies the information of a `time` variable into a new `time` variable while modifying the specified  attributes, you can then reassign the new variable to the original variable `t`, which modifies `t` to reflect the desired changes. The following example illustrates this idea:

In [166]:
from datetime import time

# assign t as 9:10:43:0000100
t = time(hour = 9, minute = 10, second = 43, microsecond = 100)
print("Old time: ", t)

# modify hour and minute
t = t.replace(hour = 8, minute = 8)

print("New time: ", t)

Old time:  09:10:43.000100
New time:  08:08:43.000100

---
<font size="6" color="#B24C00"  face="verdana"> <B>Task 1</B></font>

## `time` Objects

In [170]:
# [ ] Create a 't2' variable containing the time: 8:45 AM and print it
from datetime import time

t2 = time(8, 45)

print(t2)

08:45:00

In [174]:
# [ ] Create a 't3' variable containing the time: 8:45:01:000150 PM and print it
t3 = time(20, 45, 1, 150)

print(t3)

20:45:01.000150

In [176]:
# [ ] Print the hour (only) contained in 't3'
print(t3.hour)

20

In [182]:
# [ ] Modify t3 to: 4:10 PM
t3 = t3.replace(16, 10)

print(t3)

16:10:01.000150

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  


## `date` Objects
[View video](https://youtu.be/tdF1LbUEVTg)

### `date(year, month, day)`
The `datetime` module contains a `date` datatype (class) that has the attributes year, month, and day. Assigning, modifying, and accessing a `date` object is similar to that of a `time` object. However, all of the `date` attributes are required because it doesn't make sense to set a month or a day to 0 by default. Therefore, all attributes of a `date` object should be specified and these attributes should be within their valid ranges:
* 1 &leq; year &leq; 9999
* 1 &leq; month &leq; 12
* 1 &leq; day &leq; number of days in the given month and year

The attributes of a `date` object can be accessed individually, in the same way you access the attributes of a `time` object. For example, to access the month of a variable `StartDate`, you should use the expression `StartDate.month`. 

### Current local date
In most practical applications involving dates, it is very important to know the current local date of the machine executing the code. For example, if you want to build a counter to display how many days has passed since an important event, you will need to know the current date. This can be easily achieved by using the function `today()` as shown in the following examples.

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

### Assigning a `date` object

In [184]:
from datetime import date

# using all attributes in order (year, month, day) w/o names
# date1 is May 7 2013
date1 = date(2013, 5, 7)
print("date1 is: ", date1)

# using all attributes with names and not necessarily in order
# date2 is April 23 1999
date2 = date(day = 23, month = 4, year = 1999)
print("date2 is: ", date2)

date1 is:  2013-05-07
date2 is:  1999-04-23

### Getting a `date` attribute

In [186]:
from datetime import date

# assign a date variable
SpecialDate = date(year = 2017, month = 11, day = 15)

y = SpecialDate.year # will be 2017
m = SpecialDate.month # will be 11
d = SpecialDate.day # will be 15

print("The Special Date is: / month: ", m, "/ day: ", d, "/ year: ", y)

The Special Date is: / month:  11 / day:  15 / year:  2017

### Modifying the attributes of an assigned `date` object
The `replace` function can be used to modify the attributes of a `date` object in the same way it is used to modify attributes of an assigned `time` object.

In [188]:
from datetime import date

# assign a date
SomeDate = date(year = 2015, day = 28, month = 2)
print("Old date: ", SomeDate)

# modify year and day
# 2016 is a leap year, so we can set the date to Feb 29 2016
SomeDate = SomeDate.replace(year = 2016, day = 29)
print("New date: ", SomeDate)

Old date:  2015-02-28
New date:  2016-02-29

### Getting the current local date

In [190]:
from datetime import date

# get today's date
d = date.today()

print(d)

2024-01-12

---
<font size="6" color="#B24C00"  face="verdana"> <B>Task 2</B></font>

## `date` Objects

In [3]:
# [ ] Create a `date` variable containing: (March 28 2012)
from datetime import date

oldDate =  date(2012, 3, 28)

print(oldDate)

2012-03-28

In [15]:
# [ ] Prompt the user to enter a month and a day, get the current year, then create a date object with the information collected
from datetime import date

newMonth = int(input("Enter a new month: "))
newDay = int(input("Enter a new day: "))
y = date.today()
newDate = (y.year, newDay, newMonth)
print(newDate)

Enter a new month:  3
Enter a new day:  23

(2024, 23, 3)

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  


## `datetime` Objects
[View video](https://youtu.be/-WqXNjFeOGg)

### `datetime(year, month, day, hour = 0, minute = 0, second = 0, microsecond = 0)`
Some applications require knowing and/or manipulating both time and date information. The `datetime` module has a datatype (class) that combines both time and date information into the same variable. This general datatype has the same name as the `datetime` module. The `datetime` datatype combines the attributes of a `date` object and a `time` object, and can be assigned, modified, and accessed in a similar way. When assigning a new variable of type `datetime`, all the date attributes are required; the time attributes are optional and have default values of 0. The attributes have the same ranges as those of the individual `time` and `date` objects:
* 1 &leq; year &leq; 9999
* 1 &leq; month &leq; 12
* 1 &leq; day &leq; number of days in the given month and year
* 0 &leq; hour < 24
* 0 &leq; minute < 60
* 0 &leq; second < 60
* 0 &leq; microsecond < 1000000

The attributes of a `datetime` variable can be modified using the `replace` function. The new attribute values should be within the valid limits.

### Setting a `datetime` object to the current local date and time
The attributes of a `datetime` object can be set to the current local date and time using the `today` function. The function behaves in the same way it does with a `date` object, except that it also captures the current local time.

```python
# set dt to the current local date and time
In [1]: dt = datetime.today()
```

### Splitting a `datetime` object into separate `date` and `time` objects
A `datetime` object can be split into separate `date` and `time` objects, this can be achieved using the functions `date()` and `time()` as follows:

```python
# set dt to some date/time
In [1]: dt = datetime(year = 2014, month = 1, day = 3, hour = 15, minute = 1)
In [2]: t = dt.time() # set time t to 15:1:0.0
In [3]: d = dt.date() # set date d to January 3 2014
```

### Combining separate `date` and `time` objects into a single `datetime` object
Separate `date` and `time` variables can be combined into a single `datetime` variable using the `combine(date, time)` function.

```python
In [1]: t = time(hour = 15, minute = 1) # set time t to 15:1:0.0
In [2]: d = date(year = 2014, month = 1, day = 3) # set date d to January 3 2014
In [3]: dt = datetime.combine(d ,t) # or equivalently dt = datetime.combine(date = d, time = t)
```

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

### Assigning a `datetime` object

In [19]:
from datetime import datetime

# July 4th 2022, at 4:30 PM

# Method 1
dt = datetime(2022, 7, 4, 16, 30)
print("Method 1: ", dt)

# Method 2
dt = datetime(day = 4, month = 7, year = 2022, minute = 30, hour = 16)
print("Method 2: ", dt)

Method 1:  2022-07-04 16:30:00
Method 2:  2022-07-04 16:30:00

### Getting a `datetime` attribute

In [21]:
from datetime import datetime

# July 4th 2022, at 4:30 PM
dt = datetime(2022, 7, 4, 16, 30)

# access year
print("Year is: ", dt.year)

# access minute
print("Minute is: ", dt.minute)

Year is:  2022
Minute is:  30

### Modifying the attributes of an assigned `datetime` object

In [23]:
from datetime import datetime

# July 4th 2022, at 4:30 PM
dt = datetime(2022, 7, 4, 16, 30)

# change year to 2020 and second to 30
dt = dt.replace(year = 2020, second = 30)
print(dt)

2020-07-04 16:30:30

### Getting the current local date and time

In [57]:
from datetime import datetime

# get today's date and current local time
dt = datetime.today()
print(dt)

2024-01-17 14:50:55.467511

### Splitting a `datetime` object into separate `date` and `time` objects

In [59]:
from datetime import datetime, time, date

# get today's date and current local time
dt = datetime.today()

# split into time t and date d
t = dt.time()
print("Time is: ", t)

d = dt.date()
print("Date is: ", d)

Time is:  14:50:56.716223
Date is:  2024-01-17

### Combining separate `date` and `time` objects into a `datetime` object

In [61]:
from datetime import datetime, time, date

# assign a time object
t = time(hour = 6, minute = 45, second = 0)

# assign a date object
d = date.today()

# combine t and d into a datetime object
dt = datetime.combine(date = d, time = t)

print(dt)

2024-01-17 06:45:00

---
<font size="6" color="#B24C00"  face="verdana"> <B>Task 3</B></font>

## `datetime` Objects

In [77]:
# [ ] Create a `datetime` variable containing: (March 28 2012 @ 12:55:10:30 AM)
from datetime import datetime

dt = datetime(2012, 3, 28, 0, 55, 10, 300000)

print(dt)

2012-03-28 00:55:10.300000

In [95]:
# [ ] Write code that prints the current hour
from datetime import datetime

dt = datetime.today()
print(dt.hour)

14

In [11]:
# [ ] Write a program that prints the current date on one line and the current time on another line
from datetime import datetime

dt = datetime.today()
print(f"Date: ",dt.date())
print(f"Time: ",dt.time())

Date:  2024-01-17
Time:  15:01:11.952511

In [31]:
# [ ] Write a program that:
# 1) prompts the user for a time (hours and minutes only)
# 2) gets the current date
# 3) combines the collected information into a `datetime` variable
from datetime import datetime, time, date

inputHours = int(input("Enter the number of hours: "))
inputMins = int(input("Enter the number of minutes: "))
t = time(inputHours, inputMins)
d = date.today()
dt = datetime.combine(d, t)
print(dt)

Enter the number of hours:  3
Enter the number of minutes:  44

2024-01-17 03:44:00

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  


## Formatting Dates and Times
[View video](https://youtu.be/FARyPPlzT0E)

The date and time information is often shown to us humans; therefore, it is useful to display it in a human-friendly way. For example, you might want to show a date as Nov, 03, 1999, or display the time as 10:15 AM. The `strftime()` function will make this task easier. 

`strftime()` applies to `time`, `date`, and `datetime` objects. It reads the attributes of the object, applies a formatting directive, and returns a formatted string. There are different date and time directives; however, `time` directives shouldn't be used with `date` objects because they don't have such attributes; similarly, `date` directives shouldn't be used with `time` objects.

The `strftime()` is passed a string containing all necessary formatting directives along with any necessary slashes, commas, colons, and so on. The following tables show a short list of commonly used directives. The Python Documentation site has more information on the `strftime()` function at https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior.

#### Date formatting directives

|Directive| Meaning| Example|
|---------|--------|--------|
|%a| Abbreviated weekday name| Sun, Mon, ..., Fri|
|%A| Full weekday name| Sunday, Monday, ..., Friday|
|%d| Day of the month as a zero-padded decimal| 01, 02, 03, ... 31|
|%b| Abbreviated month name| Jan, Feb, ..., Dec|
|%B| Full month name| January, February, ..., December|
|%m| Month as a zero-padded decimal| 01, 02,..., 12|
|%y| 2 decimal year number (without century) | 00, 01, ..., 99|
|%Y| 4 decimal year number (with century) | 1900, 1989, ..., 2015|

#### Time formatting directives
|Directive| Meaning| Example|
|---------|--------|--------|
|%H| Hour in 24-hour clock (zero-padded)| 00, 01, ..., 23|
|%I| Hour in 12-hour clock (zero-padded)| 00, 01, ..., 12|
|%p| AM or PM| AM, PM|
|%M| Minutes as zero-padded decimal| 00, 01, ..., 59|
|%S| Seconds as zero-padded decimal| 00, 01, ...,59|

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

### Formatting `time` objects

In [33]:
from datetime import time
t = time(hour = 10, minute = 15)

# display as 10:15 AM
# string passed to strftim includes all necessary spaces and semicolons
formatted_string = t.strftime("%I:%M %p")
print("First format: ", formatted_string)

# display as 10:15:00 (24 hour clock, no AM/PM)
formatted_string = t.strftime("%H:%M:%S")
print("Second format: ",formatted_string)

First format:  10:15 AM
Second format:  10:15:00

### Formatting `date` objects

In [35]:
from datetime import date
d = date(year = 1999, month = 11, day =3)

# display as November, 03, 1999
# string passed to strftime includes all necessary spaces and commas
formatted_string = d.strftime("%B, %d, %Y")
print("First format: ", formatted_string)

# display as Nov 03 99
formatted_string = d.strftime("%b %d %y")
print("Second format: ", formatted_string)

First format:  November, 03, 1999
Second format:  Nov 03 99

### Formatting `datetime` objects

In [37]:
from datetime import datetime 
dt = datetime(year = 1999, month = 11, day = 3, hour = 10, minute = 15)

# display as November, 03, 1999 @ 10:15 AM
formatted_string = dt.strftime("%B, %d, %Y @ %I:%M %p")
print("First format: ", formatted_string)

# display as Nov 03 99 / 10:15:00
formatted_string = dt.strftime("%b %d %y / %H:%M:%S")
print("Second format: ", formatted_string)

First format:  November, 03, 1999 @ 10:15 AM
Second format:  Nov 03 99 / 10:15:00

---
<font size="6" color="#B24C00"  face="verdana"> <B>Task 4</B></font>

## Formatting Dates and Times

In [49]:
# [ ] Write a program that displays the time: (17:39:10) as:
# 1) 05:39:10 PM
# 2) 17:39:10
from datetime import time
t = time(17, 39, 10)

print(t.strftime("%I:%M %p"))
print(t.strftime("%H:%M:%S"))

05:39 PM
17:39:10

In [19]:
# [ ] Write a program that displays the date: (October 23rd 2018) as:
# 1) Oct 23, 2018
# 2) 10/23/18
# 3) 23/October/2018
# 4) Tuesday October 23
from datetime import date
d = date(2018, 10, 23)
print(d.strftime("%b %d, %Y"))
print(d.strftime("%m/%d/%y"))
print(d.strftime("%d/%B/%y"))
print(d.strftime("%A %B %d"))

Oct 23, 2018
10/23/18
23/October/18
Tuesday October 23

In [7]:
# [ ] Complete the function `weekday` to return the weekday name of `some_date`
# Use the function to find the weekday on which you were born
from datetime import date
    
def weekday (d):
    return(d.strftime("%A"))
# Modify to your birthdate
some_date = date(2007, 1, 2)

# Display the day on which you were born
weekday(some_date)

'Tuesday'